<!-- 
  Author: Christina Michelle Rayan D
  Module: Cricket Team Management System - Front end using Angular
  Description: This project displays and performs View, Add, Update, Delete Players operations.
-->


<div style="text-align: center; margin-top: 20px;">
  <h1 style="color: royalblue;">Welcome to Cricket Management System</h1>
</div>
<div class="box-style">
  <div style="border: 2px solid black; padding: 10px; margin-bottom: 10px;">
    <a class="nav-link" routerLink="/players" style="margin-right: 20px;" routerLinkActive="active">View Player</a>
    <a class="nav-link" routerLink="/add-player" style="margin-right: 20px;" routerLinkActive="active">Add Player</a>
    <a class="nav-link" routerLink="/update-player" style="margin-right: 20px;" routerLinkActive="active">Update Player</a>
    <a class="nav-link" routerLink="/delete-player" style="margin-right: 20px;" routerLinkActive="active">Delete Player</a>
  </div>

  <router-outlet></router-outlet>
</div>
